<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <style>
      /* Add any necessary styles here */
    </style>
  </head>
  <body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td align="center">
          <table cellpadding="0" cellspacing="0" border="0" style="max-width:600px;">
            <tr>
              <td style="background: #ffffff;padding: 20px;">
                <h2 style="margin: 40px 0 27px 0;text-align: center;font-size: 24px;font-weight: bold;color:#425b76;">Thank you for registering</h2>
                <hr style="border:0;border-top: 1px solid rgba(66,91,118,0.3);max-width: 50%">
                <p style="font-size:15.5px;font-weight: bold;margin:40px 20px 15px 20px;color:#425b76;">Hi {{username}}, we have received your details. Thanks for choosing H2R2.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
