{% extends 'basewater/base.html' %}
{% block content %}
{% if user.is_user is True %}

<div class="card-group" style="margin: 3%; background: #FFFF">

  <div class="card" style="margin: 3%; border: None">
    <img src="https://i.postimg.cc/T1Wqj2X7/undraw-data-reports-706v.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Total: {{ report.count }} </h5>
    </div>
  </div>

  <div class="card" style="margin: 3%; border: None">
    <img src="https://i.postimg.cc/YSh32zsB/undraw-Complete-design-re-h75h.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Completed: {{ complete_count }} </h5>
    </div>
  </div>

  <div class="card" style="margin: 3%; border: None">
    <img src="https://i.postimg.cc/FscPtpJf/undraw-season-change-f99v.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Progress: {{ incomplete_count }}  </h5>
    </div>
  </div>

</div>
<center><h3><u>Reports</u></h3></center>
  {% for report in report %}
  {% if report.complete is True %}


  <div class="card text-center" style="margin-bottom:3%; margin-top: 3%; margin-left: 6%; margin-right: 6%; padding: 10px;">
    <div class="card-header">
      <h5 class="card-title">{{report.title}}</h5>
    </div>
    <div class="card-body">
      <p class="card-text" style="padding: 10px;">Description</p>
      <p class="card-text" style="padding: 10px;">{{report.dec}}</p>
      <a href="{{report.link}}" target="_blank" class="button"> Download <i class="lni lni-chevron-right"></i> </a>
    </div>
    <div class="card-footer text-muted">
      {{report.created}}
    </div>
  </div>


  <!-- <div class="card" style="margin-bottom:3%; margin-top: 3%; margin-left: 6%; margin-right: 6%; padding: 10px;">
    <div class="card-header">{{report.title}}</div>
      <div class="card-body" style="padding: 10px;">
        <p>{{report.created}}</p>
        <p class="card-text" style="padding: 10px;">{{report.dec}}</p>
        <a href="{{report.link}}" target="_blank" class="button button"> Download Report <i class="lni lni-chevron-right"></i> </a>
      </div>
  </div> -->

  {% else %}
  <div class="card" style="margin-bottom:3%; margin-top: 3%; margin-left: 6%; margin-right: 6%; padding: 10px;">
    <div class="card-header"> {{report.title}} Report Generated - Awating Payment</div>
    <div class="card-body">
      <h5 class="card-title">You can view your report once the payment is processed.</h5>
    </div>
  </div>
  {% endif %}

  {% empty %}
  <div class="card" style="margin-bottom:3%; margin-top: 3%; margin-left: 6%; margin-right: 6%; padding: 10px;">
      <div class="card-header"> No reports generated yet</div>
      <div class="card-body">
        <h5 class="card-title">You can view your report here onece we are done analyzing it.</h5>
      </div>
  </div>
  {% endfor %}
{% else %}
<div class="card" style="margin-bottom:3%; margin-top: 3%; margin-left: 6%; margin-right: 6%; padding: 10px;">
  <div class="card-header"> You are a Technician</div>
  <div class="card-body">
    <a href="{% url 'datapage' %}" class="button button"> Send Data <i class="lni lni-chevron-right"></i> </a>
  </div>
</div>
{% endif %}

{% endblock %}
<!-- <a href="{% url 'logout' %}">Logout</a>
<h2>Reports</h2>
<p>{{request.user}}</p>
<p>
    {% for report in report %}
    <tr>
        <td>{{report.title}}</td>
        <td><a href="{{report.link}}">Report</a></td>
        <td>{{report.dec}}</td>
        <td>{{report.created}}</td>
    </tr>
    {% empty %}
    <h3>No Reports Generated</h3>
    {% endfor %}
</p> -->

